.packTitle {
  border-radius: 10px 10px 0 0;
  background-color: #e4aadb;
  display: flex;
  justify-content: space-between;
}

.packTitle div {
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  padding: 0;
  border: none;
  background: none;
}

.sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.sticker img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image {
  height: 100px;
  width: 100px;
}
