.packTitle {
  border-radius: 30px 30px 0 0;
  background-color: #e4aadb;
  display: flex;
  justify-content: space-between;
}

.packTitle div,
h4 {
  margin-left: 30px;
  height: available;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.button {
  padding: 0;
  border: none;
  background: none;
}

.sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.sticker img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.packsContainer {
  width: 92%;
}
