.packTitle {
  border-radius: 10px 10px 0 0;
  background-color: #e4aadb;
}

.stickers {
  display: flex;
  flex-wrap: wrap;
  background-color: #eedfff;
}

.image {
  height: 100px;
  width: 100px;
}
