export HOMESERVER="https://m.sleroq.link"
export API_URL="https://pik.sleroq.link"
export ACCESS_TOKEN=""
export API_PORT="3333"
export TELEGRAM_BOT_TOKEN=""
export MONGODB_CONNECTION_STRING="mongodb://localhost:27017/?retryWrites=true&w=majority"
